/* root for html means html tag*/
:root {
  background-color: #ecf5ff;
  /* the default font size in most browser is 60px  and 62.5% of 60px if you do number, is 10px*/
  font-size: 62.5%;
}

* {
  /* border box: if add a border to a box it include the width of box, 5px border dont change 40px 40px box size */
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* reset all of margin and padding */
  margin: 0;
  padding: 0;
  color: #333333;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font: size 5.4rem;
  color: #56a5eb;
  margin-bottom: 5rem;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

/* ---------- */
/* UTILITES */
/* --------- */

.container {
  /* full view width and view height */
  width: 100vw;
  height: 100vh;
  /*  turn container into a flexbox container */
  display: flex;
  /* centered things horizontally by default */
  justify-content: center;
  /* centered things vertically by default */
  align-items: center;
  max-width: 80rem;
  /* center content with max-width  */
  margin: 0 auto;
  padding: 2rem;
}

/* any child of container */
.container > * {
  /* center thing horizontally */
  width: 100%;
}

.flex-column {
  display: flex;
  /*  typically or by default flex box direction is horizontal, we are flipping that direction to be vertical */
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

/*  hidden class will hide things if we need */
.hidden {
  display: none;
}

/* ------ */
/* BUTTONS */
/* ------- */

.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #56a5eb;
  margin-bottom: 1rem;
  /* by default anchor tags are under lines, we dont like that */
  text-decoration: none;
  color: #56a5eb;
  background-color: white;
}

.btn:hover {
  cursor: pointer;
  /* drop shadow with a little bit of transparency */
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  /* move thing up just a bit (1 pixel)*/
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

/* FORM */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
  color: aaa;
}
